<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, TemplateMo.com</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link th:href="@{/static/css/templatemo_style.css}" href="templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../webapp/static/css/style.css" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/layui/layui.js}"></script>
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    <div th:replace="block::menu"></div>
    <div th:replace="block::header"></div>
    
    <div id="templatemo_content">

<!--        <div th:replace="block::left"></div>-->
        
<!--        <div id="templatemo_content_right">-->
<!--        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">-->
<!--            <legend>我的订单</legend>-->
<!--        </fieldset>-->
<!--        <div style="padding: 20px; background-color: #171716;">-->
<!--            <div class="layui-row layui-col-space15">-->
<!--                <div class="layui-col-md6">-->
<!--                    <div class="layui-card">-->
<!--                        <div class="layui-card-header">卡片面板</div>-->
<!--                        <div class="layui-card-body">-->
<!--                            卡片式面板面板通常用于非白色背景色的主体内<br/>-->
<!--                            从而映衬出边框投影-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-col-md6">-->
<!--                    <div class="layui-card">-->
<!--                        <div class="layui-card-header">卡片面板</div>-->
<!--                        <div class="layui-card-body">-->
<!--                            结合 layui 的栅格系统<br/>-->
<!--                            轻松实现响应式布局-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-col-md12">-->
<!--                    <div class="layui-card">-->
<!--                        <div class="layui-card-header">标题</div>-->
<!--                        <div class="layui-card-body">-->
<!--                            内容-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-xs3">
                    <div class="grid-demo grid-demo-bg1">&nbsp;</div>
                </div>
                <div class="layui-col-xs9">
                    <div class="grid-demo">
                        <table width="300px">
                            <tr>
                                <td>
                                    图书:
                                </td>
                                <td>
                                    <a th:href="@{/book(id=${order.book.id})}" th:text="${order.book.name}"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    价格:
                                </td>
                                <td th:text="${order.book.price}">
                                    xx
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    下单时间:
                                </td>
                                <td th:text="${order.orderTime}">
                                    xx
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    状态:
                                </td>
                                <td  th:text="${order.status}">
                                    xx
                                </td>
                            </tr>
                            <tr th:if="${order.comment}">
                                <td>评论:</td>
                                <td th:text="${order.comment}"></td>
                            </tr>
                            <tr th:if="${order.commentTime}">
                                <td>评论时间:</td>
                                <td th:text="${order.commentTime}"></td>
                            </tr>
                        </table>
<!--                        <ui >-->
<!--                            <li>图书</li>-->
<!--                            <li>价格</li>-->
<!--                            <li>下单时间</li>-->
<!--                            <li>状态</li>-->
<!--                            <li>评论</li>-->
<!--                            <li>评论时间</li>-->
<!--                        </ui>-->
                    </div>
                </div>
            </div>
        </div>


        <!--        </div> &lt;!&ndash; end of content right &ndash;&gt;-->
        <br/>
    <div  style="display:block; text-align: center;color: blue" >
        <a th:href="|/goodsOrder?id=${order.id}|" th:if='${order.status=="已发货"}'  type="submit" class="layui-btn layui-btn-normal layui-btn-radius">确认收货</a>
        <form  th:if='${order.status=="已收货" and order.comment==null}' action="/commentOrder" method="post">

            <div class="layui-form-item">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">请输入评论</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="comment"></textarea>
                    </div>
                </div>
            <input type="hidden" name="id" th:value="${order.id}"/>
            </div>
            <div  style="display:block; text-align: center;color: blue" >
                <input  type="submit" class="layui-btn layui-btn-normal layui-btn-radius" value="评论"/>
            </div>
        </form>
<!--        <a href="/goodOrder" th:if=${order.status=="待收货"}  type="submit" class="layui-btn layui-btn-normal layui-btn-radius">确认收货</a>-->
    </div>

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

    <div id="templatemo_footer">
        Copyright © 2019 <a href="#"><strong>中北大学版权所有</strong></a>
    </div>
</div> <!-- end of container -->
</body>
</html>